.carousel {
    margin: 0;
    padding: 20px 0;
    overflow: hidden;
    display: flex;
}

.group {
    display: flex;
    gap: 20px;
    padding-right: 20px;
    will-change: transform;
    animation: scrolling 30s linear infinite;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 80px;
    min-height: 80px;
}

.card img {
    width: 60px;
    height: 60px;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.carousel:hover .group {
    animation-play-state: paused;
}
