.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in;
  }
  
  .fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }
  .navbar {
    background-color: rgba(var(--background-rgb), 0.8);
    color: var(--foreground);
    transition: background-color 0.3s, color 0.3s; 
    backdrop-filter: blur(8px);
  }