@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #f5f5f5;
    --foreground: #0c0c0c;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0c0c0c;
        --foreground: #f5f5f5;
    }
}

html.light {
    --background: #f5f5f5;
    --foreground: #0c0c0c;
}

html.dark {
    --background: #0c0c0c;
    --foreground: #f5f5f5;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    transition:
        background-color 0.3s,
        color 0.3s;
}

::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.hoverlink {
    position: relative;
    display: inline-block;
}

.hoverlink::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: var(--foreground);
    transition: width 0.3s ease-in-out;
}

.hoverlink:hover::after {
    width: 100%;
}
